
/* Main Containers */
body{
  background: white;
}
.outer-container {
  height: 600px;
  width: 500px;
  background: #eee;
  border: 5px solid #ccc;
}
.main-screen {
  height: 100%;
  visibility: visible;
}
.game-window {
  height: 100%;
  width: 500px;
  background: #222;
  float: left;
}
.img-digdug-mainscreen {
	display: block;
	margin: auto;
	width: 50%;
}

/*IDs*/
#start-button {
	margin:auto;
	display:block;
}
#options-button {
	margin:auto;
	display:block;
}